@page
@model NoOverkillAuth.Pages.TwoFactorModel
@{
    ViewData["Title"] = "2FA protected page";
}

<div>
    <p>Hello, @Model.UserName</p>
    <p>You have successfully logged in using a second factor!</p>
</div>
